.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  color: white;
  background-color: transparent !important;
  width: 100%; /* Ensure full width */
}

.carousel-caption h5,
.carousel-caption p {
  color: white;
  font-family: 'Muli', sans-serif;
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center align text */
  max-width: 80%; /* Limit width for better readability */
}

.carousel-caption h5 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.carousel-caption p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
